aggdraw==1.3.12
aiohttp==3.8.4
aiosignal==1.3.1
appnope==0.1.2
argon2-cffi==21.1.0
async-timeout==4.0.2
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
backoff==2.2.1
backports.entry-points-selectable==1.1.1
base58==2.1.1
bitarray==2.7.3
bleach==4.1.0
certifi==2022.12.7
cffi==1.14.6
charset-normalizer==3.1.0
cycler==0.10.0
cytoolz==0.12.1
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
entrypoints==0.3
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-retry==0.1.17
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
filelock==3.4.0
frozenlist==1.3.3
gql==3.4.0
graphql-core==3.2.3
hexbytes==0.3.0
idna==3.4
imageio==2.6.1
ipfshttpclient==0.8.0a2
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
jsonschema==4.0.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lru-dict==1.1.8
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
multiaddr==0.0.9
multicall==0.7.3
multidict==6.0.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.6.3
notebook==6.4.4
numpy==1.21.2
packaging==21.0
pandas==1.1.4
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.19.5
psd-tools==1.9.18
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.17
Pygments==2.15.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2021.3
PyWavelets==1.1.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
regex==2023.3.23
requests==2.29.0
rlp==2.0.1
scikit-image==0.18.3
scipy==1.7.1
Send2Trash==1.8.0
six==1.16.0
stevedore==3.5.0
terminado==0.12.1
testpath==0.5.0
tifffile==2021.10.12
toml==0.10.2
toolz==0.12.0
tornado==6.1
traitlets==5.1.0
typing_extensions==4.5.0
urllib3==1.26.15
varint==1.0.2
virtualenv==20.10.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.5
web3==5.31.4
webencodings==0.5.1
websockets==9.1
widgetsnbextension==3.5.1
yarl==1.9.2
